<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootflat/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/bootflat/css/bootflat.css">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="/datatables/js/jquery-DT-pagination.js"></script>
    <script type="text/javascript" language="javascript" src="/javascripts/index.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-8">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <%= title %>
                    </a>
                </div>
            </div>
        </nav>
        <div class="row">
            <table id="films-table" class="table">
                <thead>
                <tr>
                    <th class="text-center">Название</th>
                    <th class="text-center">Описание</th>
                    <th class="text-center" style="cursor: pointer">Год</th>
                    <th class="text-center" style="cursor: pointer">Рейтинг</th>
                    <th class="text-center" style="cursor: pointer">Голоса</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
